a*{
    margin: 0;
    padding: 0;
}
    header,
    nav,
    section,
    article,
    aside{
        margin: auto;
        text-align: center;
        max-width: 95%;
        border-radius: 0.5em;
    }

    header {
        background-color: rgb(26, 218, 231);
    }

    nav{
        max-width: 90%;
        margin: auto;
        text-align: left;
        font-size: 150%;
    }

    .contenedor {
        background-color: darkslategray;
    }

    .principal {
        background-color: aquamarine;
        display: inline-block;
        width: 68%;
        vertical-align: top;
    }

    article {
        background-color: darkgoldenrod
    }

    aside {
        background-color: rgb(55, 76, 146);
        display: inline-block;
        width: 28%;
        vertical-align: top;
    }

    footer {
        background-color: rgb(192, 174, 174)
        

    }
    body {
        background-color: rgba(18, 142, 214, 0.123); 
        
    }
    footer {

            margin: auto;
            text-align: left;
            max-width: 95%;
            border-radius: 0.5em;
           }

     b{
        margin: auto;
        text-align: right;
        max-width: 95%;
        border-radius: 0.5em;
        

     }      
