a*{
    margin: 0;
    padding: 0;
   

  }
 

    header {

        margin: auto;
        text-align: center;
        max-width: 100%;
        border-radius: 0.5em;
      
    }
    body {
    
        background-image: url( https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Unad_%28Colombia%29_logo.svg/800px-Unad_%28Colombia%29_logo.svg.png );
        margin: 0;
        position: absolute;
        overflow: hidden;
        height: 100vh;
    }
    header {
        background-color: rgba(0, 0, 0, 0.651);
        background-position: center;
    }
    h1{

        color: blanchedalmond;
    }
    nav{
        background-color: rgba(0, 47, 255, 0.849);
        font-size: 150%;
        
    }
    a{
        color: rgb(13, 13, 14);
        background-position-x: cm;
    }
    h2{
        background-color: rgba(248, 124, 8, 0.87);
        margin: 0;
    }
    article{
        color: rgb(184, 184, 235);
        background-color: rgba(0, 0, 0, 0.671);
    }
    article{
        position: inherit;
        text-align: center;
        margin: 0;
    }
    footer{
        color: ivory;
        background-color: rgba(3, 3, 3, 0.664);
    }
   
   
    
    
